<ng-container *ngIf="Enabled">
  <div class="row mt-2">
    <div class="col-auto">
      <h5 *ngIf="adminMode" i18n>Active shares</h5>
      <h5 *ngIf="!adminMode" i18n>My random links</h5>
    </div>
    <div class="col">
      <hr/>
    </div>
  </div>
  <ng-container *ngIf="shares && shares.length >0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th i18n>Key</th>
        <th i18n>Sharing</th>
        <th *ngIf="adminMode" i18n>Creator</th>
        <th i18n>Expires</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let share of shares">
        <tr>
          <td class="ellipsisContainer"><a [href]="sharingService.getUrl(share)" class="ellipsisText">{{share.sharingKey}}</a></td>
          <td>{{share.searchQuery | searchQuery}}</td>
          <td *ngIf="adminMode">{{share.creator.name}}</td>
          <td>{{share.expires | date}}</td>
          <td class="share-actions">
            <button (click)="startEdit(share)" class="btn btn-secondary me-2" type="button">
              <ng-icon name="ionPencil" title="Edit" i18n-title></ng-icon>
            </button>
            <button (click)="deleteSharing(share)" class="btn btn-danger" type="button">
              <ng-icon name="ionTrashOutline" title="Delete" i18n-title></ng-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="editingShare?.id === share.id">
          <td [attr.colspan]="adminMode ? 5 : 4" class="share-editor">
            <div class="row g-2">
              <div class="col-12">
                <label class="form-label" for="share-query-edit" i18n>Search query</label>
                <textarea id="share-query-edit"
                          name="share-query-edit"
                          class="form-control query-editor"
                          [(ngModel)]="editQueryText"
                          (ngModelChange)="updateRandomUrlPreview()"></textarea>
              </div>
              <div class="col-12 col-md-5">
                <label class="form-label" for="share-expire-edit" i18n>Expires</label>
                <input id="share-expire-edit"
                       name="share-expire-edit"
                       class="form-control"
                       type="datetime-local"
                       [(ngModel)]="editExpiresAt"
                       (ngModelChange)="updateRandomUrlPreview()"
                       [disabled]="editForever">
              </div>
              <div class="col-12 col-md-2 d-flex align-items-end">
                <label class="form-check mb-2">
                  <input class="form-check-input"
                         type="checkbox"
                         name="share-forever-edit"
                         [(ngModel)]="editForever"
                         (ngModelChange)="updateRandomUrlPreview()">
                  <span class="form-check-label" i18n>Forever</span>
                </label>
              </div>
              <div class="col-12 col-md-5">
                <label class="form-label" for="share-random-url" i18n>Random image URL</label>
                <input id="share-random-url"
                       name="share-random-url"
                       class="form-control"
                       type="text"
                       readonly
                       [ngModel]="editRandomUrl">
              </div>
              <div class="col-12 text-danger" *ngIf="editError">{{editError}}</div>
              <div class="col-12">
                <button (click)="saveEdit()"
                        [disabled]="saving || !!editError"
                        type="button"
                        class="btn btn-primary me-2">
                  <ng-icon name="ionSaveOutline" title="Save" i18n-title></ng-icon>
                  <span i18n>Save</span>
                </button>
                <button (click)="cancelEdit()" type="button" class="btn btn-secondary">
                  <ng-icon name="ionCloseOutline" title="Cancel" i18n-title></ng-icon>
                  <span i18n>Cancel</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="!shares || shares.length  == 0">
    <div class="panel-info" i18n>
      No sharing was created.
    </div>
  </ng-container>
</ng-container>
